/* forms */

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input,
textarea {
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
  border: 1px solid #dedede;
}

/* input focus state */

input:focus,
textarea:focus {
  border-color: #000;
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  cursor: pointer;
}
